.slider {
	width: 100%;
	display: flex;
}
.inpDiv {
	min-width: 100%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: auto;
}
.btnBox {
	display: flex;
	justify-content: space-around;
	width: 100%;
	padding: 20px;
	border-radius: 200vmax;
}
.btnBox button {
	width: auto;
	min-width: 50px;
	font-weight: bolder	;
	overflow: hidden;
}
#signup {
	display: none;
	min-width: 150px;
}
#btnLeft {
	display: none;
}
button > svg {
	width: 100%;
	height: 100%;
}
.main2 {
	box-shadow: initial;
	padding-top:20px;
}
.instructions {
	padding: 10px;
	width: 100%;
}
.instructions>h2 {
	color: #0ff;
}
.instructions>p>span {
	color: #f00;
}
.main2 h1 {
	font-size: 2rem;
}
.main2 > .heading {
	margin-bottom: 20px;
}
.main h2 {
	font-size: 1.5rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
}
